<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}" /> 

<html lang="en">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
  </script>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% comment %} {% load static %}
<script src="{% static 'styles/scriptnew.js' %}"></script> {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
      async function getentry(){
      //define variables for the submit button in addentry form. #fname comes from the id of the tag in the form below. 0 is the array and .value is saying to grab the value for that variable in that array place.
          let entries = await $.get("../api/Tracker")
          console.log(entries)
          entries.forEach(entry => {
            $('#mynotes .notescontainer').append(
            '<div class="card"><h2>&#128544;</h2><div class=\"cardcontainer\"><p><b>Date:'+entry.date+'</b></p><p>Period?:'+entry.periodflow+'</p><p>Happinesslevel:>'+entry.happiness+'</p></div></div>'
            )  
          });
          
          
          // <p>Irritability:</p>
          // <p>Sad Level:</p>
          // <p>Happiness Level:</p>
          // <p>Lonliness Level:</p>
          // let fname = $("#fname")[0].value 
          // let lname = $("#lname")[0].value 
          // let entrydate = $("#entrydate")[0].value 
          // let period = $("#period")[0].value 
          // let irritability = $("#irritability")[0].value 
          // let sad = $("#sad")[0].value 
          // let happy = $("#happy")[0].value 
          // let lonely = $("#lonely")[0].value 
          // //log the variables above to the console to see if they are posting or being grabbed
          // console.log(fname, lname, entrydate, period, irritability, sad, happy, lonely)
          // console.log("submitted")
          //console.log($("#fname")[0].value)
          //Post to api/Tracker viewset. Model name first, name from variables above second. Modelname:Variblename
      }
      getentry()
  </script>
</head>
<body>
  

  <!--Start of entire page wrapper inside of side nav-->
  <div class="content">
    <div class="header">
      <h1>PMDD Tracker</h1>
    </div>  
    <div class="sidebar">
      <a class="active" href="{% url 'calendar' %}">Tracking Calendar</a>
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'addentry' %}">Add Entry</a> 
      <a href="{% url 'index' %}">Links</a>
    </div>
    <div class="icon-bar">
      <a class="active" href="{% url 'index' %}"><i class="fa fa-home"></i></a>
      <a href="#"><i class="fa fa-search"></i></a>
      {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="{% url 'logout' %}">
      Log out <i class="fas fa-sign-out-alt"></i>
      </a>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}">
      Log in <i class="fas fa-sign-in-alt"></i>
      </a>

      {% endif %}
      <a href="#"><i class="fa fa-question-circle-o"></i></a>
      <a href="{% url 'addentry' %}"><i class="fa fa-pencil-square-o"></i></a>
    </div>
    <div class="container">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
          <div class="date">
            <h1></h1>
            <p></p>
          </div> 
          <i class="fas fa-angle-right next"></i>
        </div>
      <div class="weekdays">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <div class="days"> 
      </div>
    </div> <!--This is the end of the calendar wrapper-->


     <div class="overview">
      <h1>Overview</h1>
      <p>Monthly Overview will go here</p>
      <button type="button" id="share" onclick="shareCalendar()">Share Calendar</button>
      <script>
      function shareCalendar() {
        var link = "mailto:alexsimontest@outlook.com"
                 + "?cc=myCCaddress@example.com"
                 + "&subject=" + encodeURIComponent("User is Sharing Their PMDD Calendar")
                 + "&body=" + encodeURIComponent("Sharing calendar test")
        ;
        
        window.location.href = link;
    }
      </script>
      <canvas id="myChart" style="width:100%;max-height:80%"></canvas>
     </div>
    <div id="mynotes" class="notes">
      <h1>My Notes</h1>
      <p>My Notes go here</p>
      <div class="notescontainer">
     </div> 
    </div>
   </div> <!--This is the end of the container wrapper-->

  </div> <!-- this is the end of the content wrapper-->


</body>
</html>
