<!DOCTYPE html>
<html lang="en">
    <!-- Add additional CSS in static file -->
    <!-- Commenting out for testing - this is Django code
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    -->
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<!--    <link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- moving this around for testing, this is original spot for sidebar
  <div class="sidebar">
    <a class="active" href="calendar.html">Tracking Calendar</a>
    <a href="index.html">Home</a>
    <a href="entry.html">Add Entry</a>
    <a href="#links">Links</a>
  </div>
  -->
  <!--Start of entire page wrapper inside of side nav-->
  <div class="content">
    <div class="header">
      <h1>PMDD Tracker</h1>
    </div>  
    <div class="sidebar">
      <a class="active" href="calendar.html">Tracking Calendar</a>
      <a href="index.html">Home</a>
      <a href="entry.html">Add Entry</a>
      <a href="#links">Links</a>
    </div>
    <div class="container">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
          <div class="date">
            <h1></h1>
            <p></p>
          </div> 
          <i class="fas fa-angle-right next"></i>
        </div>
      <div class="weekdays">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <div class="days"> 
      </div>
    </div> <!--This is the end of the calendar wrapper-->


     <div class="overview">
      <h1>Overview</h1>
      <p>Monthly Overview will go here</p>
     </div>
     <div class="icon-bar">
      <a class="active" href="#"><i class="fa fa-home"></i></a>
      <a href="#"><i class="fa fa-search"></i></a>
      <a href="#"><i class="fa fa-user-circle"></i></a>
      <a href="#"><i class="fa fa-question-circle-o"></i></a>
      <a href="#"><i class="fa fa-pencil-square-o"></i></a>
    </div>
    <div class="notes">
      <h1>My Notes</h1>
      <p>My Notes go here</p>
      <div class="notescontainer">
      <div class="card">
        <h2>&#128512;</h2> <!--Happy Face Emoji-->
        <div class="cardcontainer">
          <p><b>Date</b></p>
          <p>Happiness Level:</p>
          <p>Anger Level:</p>
          <p>Sad Level:</p>
          <p>Lonliness Level:</p>
          <p>Munchies?:</p>
          <p>Period?:</p>
          <p>Period Flow:</p>
          <p>Cramps?:</p>
        </div>
      </div>
      <p></p>
      <div class="card">
        <h2>&#128546;</h2> <!--Crying Face Emoji-->
        <div class="cardcontainer">
          <p><b>Sad</b></p>

        </div>
      </div>
      <p></p>
      <div class="card">
        <h2>&#128544;</h2> <!--Angry Face Emoji-->
        <div class="cardcontainer">
          <p><b>Angry</b></p>

        </div>
      </div>
      <p></p>
      <div class="card">
        <h2>&#128544;</h2> <!--Angry Face Emoji-->
        <div class="cardcontainer">
          <p><b>Angry</b></p>

        </div>
      </div>   
      <p></p>
      <div class="card">
        <h2>&#128544;</h2> <!--Angry Face Emoji-->
        <div class="cardcontainer">
          <p><b>Angry</b></p>

        </div>
      </div>   
      <p></p>
      <div class="card">
        <h2>&#128544;</h2> <!--Angry Face Emoji-->
        <div class="cardcontainer">
          <p><b>Angry</b></p>

        </div>
      </div>   
      <p></p>
      <div class="card">
        <h2>&#128544;</h2> <!--Angry Face Emoji-->
        <div class="cardcontainer">
          <p><b>Angry</b></p>

        </div>
      </div>   
     </div> 
    </div>
   </div> <!--This is the end of the container wrapper-->

  </div> <!-- this is the end of the content wrapper-->
<script src="script.js"></script>
</body>
</html>
