<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <a class="active" href="calendar.html">Tracking Calendar</a>
        <a href="index.html">Home</a>
        <a href="entry.html">Add Entry</a>
        <a href="#links">Links</a>
      </div>
      <div class="content">  
        <div class="moodtracker">
            <h1>My Mood Today</h1>
        </div>
        <div class="form">
            
        <form>
            <ul>
                <li>
                    <label for="fname">First name:</label>
                    <input type="text" id="fname" name="fname">
                </li>
                <li>
                    <label for="lname">Last name:</label>
                    <input type="text" id="lname" name="lname">
                </li>
                <li>
                    <label for="date">Today's Date:</label>
                    <input type="text" id="date" name="date">
                </li>
                <li>
                    <label for="period">Period:</label>
                    <input type="text" id="period" name="period">
                </li>
                <li>
                    <label for="mood">Mood:</label>
                    <input type="mood" id="mood" name="mood">
                </li>
                <li class="button">
                    <button type="submit">Submit</button>
                </li>
        </ul>
        </form>
    </div>
    </div>
</body>