<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'styles/form.css' %}" /> 
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar</title>
  <link rel="stylesheet" href="form.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function submitentry(){
        //define variables for the submit button in addentry form. #fname comes from the id of the tag in the form below. 0 is the array and .value is saying to grab the value for that variable in that array place.
            let fname = $("#fname")[0].value 
            let lname = $("#lname")[0].value 
            let entrydate = $("#entrydate")[0].value 
            let period = $("#period")[0].value 
            let irritability = $("#irritability")[0].value 
            let sad = $("#sad")[0].value 
            let happy = $("#happy")[0].value 
            let lonely = $("#lonely")[0].value 
            //log the variables above to the console to see if they are posting or being grabbed
            console.log(fname, lname, entrydate, period, irritability, sad, happy, lonely)
            console.log("submitted")
            //console.log($("#fname")[0].value)
            //Post to api/Tracker viewset. Model name first, name from variables above second. Modelname:Variblename
            $.post( "../api/Tracker/", { firstname:fname, lastname:lname, date:entrydate, periodflow:period, irritation:irritability, sadness:sad, happiness:happy, loneliness:lonely } );
        }
    </script>
</head>
{% autoescape on %}
    {{ body }}
{% endautoescape %}
<body>
    <div class="content">
        <div class="header">
          <h1>PMDD Tracker</h1>
        </div>  
        <div class="sidebar">
            <a href="index.html">Home</a>
            <a href="calendar.html">Tracking Calendar</a>
            <a class="active" href="entry.html">Add Entry</a> 
            <a href="#links">Links</a>
        </div>
        <div class="icon-bar">
            <a href="index.html"><i class="fa fa-home"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
            <a href="#"><i class="fa fa-user-circle"></i></a>
            <a href="#"><i class="fa fa-question-circle-o"></i></a>
            <a href="entry.html"><i class="fa fa-pencil-square-o"></i></a>
          </div>
          {% comment %} Commenting out for testing
    <a href="{% url 'trackingcalenar' %}">Tracking Calendar</a>
    {% endcomment %}
      <div class="container">  
        <div class="moodtracker">
            <h1>My Mood Today</h1>
        <div class="form">    
            <ul>
                <li>
                    <label for="fname">First name:</label>
                    <input type="text" id="fname" name="fname">
                </li>
                <li>
                    <label for="lname">Last name:</label>
                    <input type="text" id="lname" name="lname">
                </li>
                <li>
                    <label for="date">Today's Date:</label>
                    <input type="text" id="entrydate" name="date">
                </li>
                <li>
                    <label for="period">Period Flow:</label>
                    <input type="text" id="period" name="period">
                </li>
                <li>
                    <label for="irritability">Irritability Level:</label>
                    <input type="text" id="irritability" name="irritability">
                </li>
                <li>
                    <label for="sad">Sadness Level:</label>
                    <input type="text" id="sad" name="sad">
                </li>
                <li>
                    <label for="happy">Happiness Level:</label>
                    <input type="text" id="happy" name="happy">
                </li>
                <li>
                    <label for="lonely">Loneliness Level:</label>
                    <input type="text" id="lonely" name="lonely">
                </li>
                <li class="button">
                    <button onclick="submitentry()">Submit</button>
                </li>
        </ul>

    </div>
</div>
    </div>
</body>